# ========================================
# Common
# ========================================
team        = "team6"
project     = "nowait"
environment = "dev"
name_prefix = "team6-nowait-dev"
region      = "ap-northeast-2"

# IAM Role 생성 시 필수 permissions boundary
iam_role_permissions_boundary = "arn:aws:iam::194722398200:policy/TeamRuntimeBoundary"


# ========================================
# Target EKS Cluster
# ========================================

# Add-ons를 설치할 dev EKS Cluster 이름
cluster_name = "team6-nowait-dev-eks"


# ========================================
# EKS Add-ons
# ========================================

# EKS 기본 Add-on 목록
eks_addons = [
  "vpc-cni",
  "coredns",
  "kube-proxy",
  "eks-pod-identity-agent",
  "aws-ebs-csi-driver"
]

# Add-on 버전 고정이 필요하면 여기에 명시
# 비워두면 AWS/EKS가 클러스터 버전에 맞는 기본 호환 버전을 선택
addon_versions = {}

# EBS CSI Driver에 Pod Identity Role 연결
enable_ebs_csi_pod_identity = true

# ========================================
# Network
# ========================================

# dev/infra에서 생성된 VPC ID를 입력합니다.
#
# 확인 방법:
# cd envs/dev/infra
# terraform output vpc_id
vpc_id = "<DEV_VPC_ID>"


# ========================================
# Helm Chart Versions
# ========================================

# AWS Load Balancer Controller Helm chart version
lbc_chart_version = "1.13.0"

# metrics-server Helm chart version
metrics_server_chart_version = "3.12.2"

# External Secrets Operator Helm chart version
eso_chart_version = "0.14.4"