# ========================================
# Common
# ========================================

team        = "team6"
project     = "nowait"
environment = "global"
name_prefix = "team6-nowait"
region      = "ap-northeast-2"