# ========================================
# Common
# ========================================
team        = "team6"
project     = "nowait"
environment = "prod"
name_prefix = "team6-nowait-prod"
region      = "ap-northeast-2"

# IAM Role 생성 시 필수 permissions boundary
iam_role_permissions_boundary = "arn:aws:iam::194722398200:policy/TeamRuntimeBoundary"


# ========================================
# Network
# ========================================

# Prod VPC CIDR
vpc_cidr = "10.6.128.0/17"

# 사용할 AZ 개수
az_count = 2

# VPC DNS 설정
# EKS, RDS, ElastiCache endpoint 사용을 위해 true 권장
enable_dns_hostnames = true
enable_dns_support   = true

# Public Subnet: ALB, NAT Gateway 위치
public_subnet_cidrs = [
  "10.6.128.0/24",
  "10.6.129.0/24"
]

# Private App Subnet: EKS Node, API Pod, Worker Pod 위치
private_app_subnet_cidrs = [
  "10.6.144.0/20",
  "10.6.160.0/20"
]

# Private DB Subnet: RDS, Redis 위치
private_db_subnet_cidrs = [
  "10.6.192.0/24",
  "10.6.193.0/24"
]

# Prod는 운영 안정성을 위해 per_az 권장
# 비용이 부담되면 초기에는 single로 시작 가능
nat_gateway_mode = "per_az"


# ========================================
# EKS
# ========================================

eks_cluster_version = "1.34"

# Prod는 최소 3개 노드로 시작
node_desired_size   = 3
node_min_size       = 2
node_max_size       = 6
node_instance_types = ["m6i.large"]

# Prod는 private endpoint 중심 운영 권장
# kubectl 접근은 Bastion/SSM 또는 VPN을 통해 수행
eks_endpoint_public_access  = false
eks_endpoint_private_access = true
eks_public_access_cidrs     = []

# EKS 감사/추적 로그
enabled_cluster_log_types = [
  "api",
  "audit",
  "authenticator",
  "controllerManager",
  "scheduler"
]

# EKS Access Entry
admin_principal_arns = [
  "arn:aws:iam::194722398200:user/<ADMIN_USER>"
]

developer_principal_arns = [
  "arn:aws:iam::194722398200:user/<DEVELOPER_USER>"
]

viewer_principal_arns = [
  "arn:aws:iam::194722398200:user/<VIEWER_USER>"
]


# ========================================
# RDS
# ========================================

# Prod RDS: Multi-AZ로 DB HA 확보
db_instance_class      = "db.m7g.large" # 트래픽 증가시 db.m7g.xlarge로 변경하기
db_multi_az            = true
db_deletion_protection = true
db_skip_final_snapshot = false
db_backup_retention    = 7


# ========================================
# ElastiCache Redis
# ========================================

# Prod Redis: Replication Group + Multi-AZ + Automatic Failover
redis_node_type                = "cache.r7g.large" # 트래픽 증가시 cache.r7g.xlarge (지표보고 증설)
redis_replica_count            = 1
redis_multi_az_enabled         = true
redis_automatic_failover       = true
redis_snapshot_retention_limit = 7


# ========================================
# Bastion
# ========================================

# Prod는 private endpoint 접근을 위해 Bastion/SSM 사용 가능
# SSH 22번은 열지 않고 SSM Session Manager 기준
bastion_enabled          = true
bastion_ssh_cidr_blocks = []


# ========================================
# S3 / CloudFront
# ========================================

# Prod는 S3 + CloudFront로 React 정적 파일 배포 가능
image_bucket_enabled    = true
frontend_bucket_enabled = true
cloudfront_enabled      = true


# ========================================
# CloudWatch
# ========================================

log_retention_days = 30