# ========================================
# Common
# ========================================
team        = "team6"
project     = "nowait"
environment = "prod"
name_prefix = "team6-nowait-prod"
region      = "ap-northeast-2"

# IAM Role 생성 시 필수 permissions boundary
iam_role_permissions_boundary = "arn:aws:iam::194722398200:policy/TeamRuntimeBoundary"


# ========================================
# Target EKS Cluster
# ========================================

# Add-ons를 설치할 prod EKS Cluster 이름
cluster_name = "team6-nowait-prod-eks"


# ========================================
# EKS Add-ons
# ========================================

# EKS 기본 Add-on 목록
eks_addons = [
  "vpc-cni",
  "coredns",
  "kube-proxy",
  "eks-pod-identity-agent",
  "aws-ebs-csi-driver"
]

# Add-on 버전 고정이 필요하면 여기에 명시
# 비워두면 AWS/EKS가 클러스터 버전에 맞는 기본 호환 버전을 선택
addon_versions = {}

# EBS CSI Driver에 Pod Identity Role 연결
enable_ebs_csi_pod_identity = true